@model Surrogacy.Models.LifeStyle
@using Surrogacy.Helper
@using Surrogacy.Util

@{
    ViewBag.Title = ApplicationManager.ApplicationName + " | Life Style"; ;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<section class="content">
    @if (ViewBag.ShowMessage == true)
    {
        <div class="col-md-12">
            <div style="display: block" id="messageBox" class="alert alert-@(((string)ViewBag.MessageType).ToString().ToLower()) alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong id="headerMessage">@(ViewBag.MessageType)!</strong>
                <label id="lblMessage">@(ViewBag.MessageHeader)</label>
                <br />
                <div class="validation-summary-errors" id="divSubMessage">
                    @Html.Raw(ViewBag.MessageSummary)
                </div>
            </div>
        </div>
    }
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Life Style</h3>
                    <div class="box-tools pull-right">
                        <input type="submit" class="btn btn-info text-bold" value="Save">
                        <button type="button" class="btn btn-info text-bold" data-widget="collapse">
                            <i class="fa fa-minus text"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <form class="form-inline" role="form">
                        <div class="form-group col-lg-8">
                            <p>Do you smoke?.<span class="required text-red">*</span></p>
                            @Html.DropDownListFor(model => model.Smoke
                                , (IEnumerable<SelectListItem>)WebHelper.getMVCDropDown("YESNO")
                                , new { @class = "form-control", required = "true" })

                        </div>
                        <div class="form-group col-lg-8">
                            <p>Does any member of your household smoke?<span class="required text-red">*</span></p>
                            @Html.DropDownListFor(model => model.MemberSmoke
                                , (IEnumerable<SelectListItem>)WebHelper.getMVCDropDown("YESNO")
                                , new { @class = "form-control", required = "true" })

                        </div>
                        <div class="form-group col-lg-8">

                            <p>Do you drink more than 3 glasses of alcohol per week?<span class="required text-red">*</span></p>
                            @Html.DropDownListFor(model => model.Alcohol
                                , (IEnumerable<SelectListItem>)WebHelper.getMVCDropDown("YESNO")
                                , new { @class = "form-control", required = "true" })


                        </div>
                        <div class="form-group col-lg-8">
                            <p>Do you use illegal or recreational drugs?.<span class="required text-red">*</span></p>
                            @Html.DropDownListFor(model => model.Drug
                                , (IEnumerable<SelectListItem>)WebHelper.getMVCDropDown("YESNO")
                                , new { @class = "form-control", required = "true" })

                        </div>
                        <div class="form-group col-lg-8">
                            <p>Have you ever abused or had a problem with alcohol or drugs in the past?<span class="required text-red">*</span></p>
                            @Html.DropDownListFor(model => model.Past
                                , (IEnumerable<SelectListItem>)WebHelper.getMVCDropDown("YESNO")
                                , new { @class = "form-control", required = "true" })

                        </div>

                        <div class="form-group col-lg-8">
                            <p>Does your spouse or partner use illegal or recreational drugs?</p>
                            @Html.DropDownListFor(model => model.SpouseDrug
                                , (IEnumerable<SelectListItem>)WebHelper.getMVCDropDown("YESNO")
                                , new { @class = "form-control", required = "true" })

                        </div>
                        
                        <div class="hidden">
                            @Html.HiddenFor(model => model.LifeStyleID)
                            @Html.HiddenFor(model => model.UserID)
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</section>